@charset "utf-8";
/* CSS Document */

.box1{
	text-align: center;
}
.boxf{
	text-align: center;
	background: white;
    padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 5%;
	
}
.box1 h1{
	margin-top: 5%;
}
.homeT{
	margin-top: 5%;
}
.home{
	height: 85vh;
	background: #BFBCBC;
}
.home2{
	
	background: #BFBCBC;
}
@media (max-width: 575px) {
	.home{
	height: auto;
	background: #BFBCBC;
}
}
	@media (max-width: 768px) {
			.home{
	height: auto;
	background: #BFBCBC;
}
	}

.rodape{
	height: 14%;
	text-align: center;
}
.tt{
	margin-top: 1%;
}
.tt2{
	margin-top: 2%;
	margin-bottom: 2%;
}
.cent{
	text-align: center;
}